[[commands]]
name = "update-emacsNG"
category = "Update"
command = "nix flake lock --update-input emacsNG-source"
help = "update EmacsNg src"

[[commands]]
name = "update-rustOverlay"
category = "Update"
command = "nix flake lock --update-input rust-overlay"
help = "update rust overlay"

[[commands]]
name = "update-nixpkgs"
category = "Update"
command = "nix flake lock --update-input nixpkgs"
help = "update nixpkgs channel"

[[commands]]
name = "update-master"
category = "Update"
command = "nix flake lock --update-input master"
help = "update nixpkgs of master channel"


[[commands]]
name = "emacs"
command = '''
        $(nix-build . --option substituters "https://cache.nixos.org https://emacsng.cachix.org" --option trusted-public-keys "emacsng.cachix.org-1:i7wOr4YpdRpWWtShI8bT6V7lOTnPeI7Ho6HaZegFWMI= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=" --no-out-link)/bin/emacs $@
        '''
help = "launch emacsNG"
category = "emacsNG"

[[commands]]
name = "push-cachix"
command = '''
          nix-shell --command "cachix-emacsNG"
        '''
help = "push emacsNG binary cache to Cachix | -> nix/cachix-key.secrets"
category = "update"

[[commands]]
name = "cachix-emacsNG"
category = "update"
command = "nix-build | cachix push emacsng"
help = "nix-build localy then push to cachix"

[[commands]]
name = "build-bindings"
command = "cargo build --manifest-path=./crates/codegen/Cargo.toml"
help = "cargo build codegen"
category = "rust-build"

[[commands]]
name = "emacsng-lock"
category = "develop"
command = '''
        sed -i 's|\#emacsNGSource = emacs|emacsNGSource = emacs|' flake.nix
        nix flake lock --update-input emacsNG-source
        '''
help = "lock rev for bindary cache build"

[[commands]]
name = "emacsng-develop"
category = "emacsNG"
command = '''
        sed -i 's|git+https://github.com/emacs-ng/emacs-ng?submodule=1|path:./.|' flake.nix
        nix flake lock --update-input emacsNG-source
        '''
help = "using src = ./. for develop mode"
# [[env]]
# name = "HOME"
# value = "bin/test"
