eval $(guix shell --search-paths)
export LD_LIBRARY_PATH=$LIBRARY_PATH
rm /tmp/cc
ln -s $(guix build clang)/bin/clang /tmp/cc
export PATH=$PATH:/tmp
export LIBCLANG_PATH=$(guix build clang)/lib
export RUST_SRC_PATH="/gnu/store/f55nbiamx31gzhwnh3cm8xcvisv4fb6c-rust-src-1.60.0//lib/rustlib/src/rust/library"
unset EMACSLOADPATH
unset EMACSNATIVELOADPATH
