[submodule "use-package"]
	path = lisp/use-package
	url = https://github.com/jwiegley/use-package.git
	shallow = true
	ignore = dirty
[submodule "straight.el"]
	path = lisp/straight
	url = https://github.com/raxod502/straight.el.git
	shallow = true
	ignore = dirty
