[package]
name = "wrterm"
version = "0.1.0"
edition = "2021"
build = "build.rs"

[lib]
path = "src/lib.rs"

[dependencies]
emacs = { path = "../emacs" }
lisp-macros = { path = "../lisp_macros" }
lisp-util = {  path = "../lisp_util" }
colors = {  path = "../../../etc/colors" }
log = "0.4.17"
libc = "0.2.95"
lazy_static = "1.4"
gleam = "0.13"
copypasta = { version = "0.8.1", default-features = false, optional = true }
image_ = { package = "image", version = "0.24" }
app_units = "0.7"
bit-vec = "0.6.3"
ttf-parser = "0.17"
once_cell = "1.16.0"
tokio = { version = "1.23", features = ["rt-multi-thread", "sync", "net", "macros", "time"], optional = true }
futures = "0.3.25"
winit = { version = "0.28", default-features = false, optional = true }
tao = { version = "0.18.1", default-features = false, optional = true }
fontdb = "0.12"
raw-window-handle = "0.5"
errno = "0.2"
euclid = "0.22"
surfman = { version = "0.6", default-features = false, features = ["sm-raw-window-handle"], optional = true }
glutin = { version = "0.30.6", optional = true }
rustybuzz = "0.6"
ouroboros = "0.15.5"
resvg = "0.29"
usvg = "0.29"
usvg-text-layout = "0.29"
tiny-skia = "0.8"

[dependencies.nix]
optional = true
version = "0.26"
default-features = false
features = ["signal"]

# Cargo.lock update patch
[dependencies.webrender]
git = "https://github.com/declantsien/webrender.git"
rev = "1732a483fe19466a4e2834017214ff3e30525f45"
default-features = false

[dependencies.webrender_surfman]
git = "https://github.com/declantsien/webrender_surfman.git"
rev = "8b1f8a5e001c3cdabb49c7affda483343a2f792f"
optional = true

[build-dependencies]
ng-bindgen = { path = "../../ng-bindgen" }
cfg_aliases = "0.1"

[target.'cfg(all(unix, not(target_os = "macos")))'.dependencies]
font-loader = "0.11"
wayland-sys = {version = "0.30", features = ["client", "dlopen"]}
gtk = { version = "0.16", optional = true }
gdk = { version = "0.16", optional = true }
gtk-sys = { version = "0.16", optional = true }
gdk-sys = { version = "0.16", optional = true }
gdkwayland-sys = { version = "0.16", optional = true }
gdkx11-sys = { version = "0.16", optional = true }
x11-dl = { version = "2.21", optional = true }
gl_loader = { version = "0.1.2", optional = true }

[target.'cfg(all(unix, not(target_os = "macos")))'.dependencies.x11]
features = ["xlib"]
version = "2.20"
optional = true

[target.'cfg(target_os = "macos")'.dependencies]
core-foundation = "0.9.2"

[features]
default = ["std", "wayland", "tokio", "winit", "surfman"]
x11 = ["dep:x11",
  "copypasta?/x11",
  "surfman?/sm-x11",
  "winit?/x11",
  "glutin?/glx",
  "glutin?/x11"
]
wayland = [
  "copypasta?/wayland",
  "winit?/wayland",
  "winit?/wayland-dlopen",
  "winit?/wayland-csd-adwaita",
  "glutin?/egl",
  "glutin?/wayland"
]
capture=["webrender/capture", "webrender/serialize_program"]
sw_compositor=["webrender/sw_compositor"]
pselect=["dep:nix"]
tokio=["dep:tokio"]
glutin=["dep:glutin"]
surfman=["dep:surfman", "dep:webrender_surfman"]
winit=["dep:winit", "dep:copypasta", "emacs/window-system-winit"]
gtk3=["dep:gtk", "dep:gdk", "dep:gl_loader"]
tao=["dep:tao", "emacs/window-system-winit"]
pgtk=["dep:gtk", "dep:gtk-sys", "dep:gdkwayland-sys", "dep:gdkx11-sys", "dep:x11-dl"]
no_std = [
  "rustybuzz/libm",
  "usvg-text-layout/system-fonts"
]
std = [
  "fontdb/memmap",
  "fontdb/std",
  "rustybuzz/std",
  "usvg-text-layout/memmap-fonts"
]
