[package]
name = "webrender"
version = "0.1.0"
edition = "2018"

[lib]
path = "src/lib.rs"

[dependencies]
emacs = { version = "0.1.0", path = "../emacs", features = ["window-system-webrender"] }
lisp-macros = { version = "0.1.0", path = "../lisp_macros" }
lisp-util = { version = "0.1.0", path = "../lisp_util" }
libc = "0.2.95"
lazy_static = "1.2"
webrender = "0.61"
font-kit = "0.5.0"
glutin = "0.26"
gleam = "0.6"
copypasta = "0.7.1"
image = "0.23.14"
app_units = "0.7.1"
